<div class="label-input-one-line-container flexshrink">
    <label for="{{name}}" class="resource-label">{{label}}:</label>
    <input style="width: {{width}};" type="{{type}}" name="{{name}}" value="{{value}}" data-dtype="{{dtype}}"/>
</div>
